.titulo-menu {
    @include titulo;
}

.produtos {
    @extend .flex;

    @include base;

    .content-menu {
        max-width: 1100px;
        padding-top: 30px;
    }

    .card {
        display: flex;
    }

    .cards {
        flex: 1;
        justify-content: space-between;
        padding: 0 20px 30px 20px;
    }

    img {
        width: 300px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px #1a1a1a;
        cursor: pointer;
    }

    h3 {
        padding-top: 5px;
    }
}
